<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Félidő</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="top_image_cont">
    <img src="../static/images/placeholder.png" alt="placeholder" width="100%" height="5%">
    <img class="logo" src="../static/images/FelidoLogo.jpg" alt="logo">
</div>

<ul>
    <li><a href="events.html">Események</a></li>
    <li><a href="archive.html">Archívum</a></li>
    <li><a href="about.html">Rólunk</a></li>
</ul>

<div class="sidebar">
    <div class="sideBox">
        <a href="https://www.facebook.com/profile.php?id=100086869088548"><h1 class="socmedia"><img
                src="../static/images/2021_Facebook_icon.svg" width="auto" height="20" alt="facebook logo">&nbsp;facebook
        </h1></a>
        <a href="https://www.instagram.com/felidomusic"><h1 class="socmedia"><img
                src="../static/images/Instagram_logo_2016.svg" width="auto" height="20" alt="instagram logo">&nbsp;instagram
        </h1></a>
        <h1 class="socmedia"><img src="../static/images/YouTube_full-color_icon_(2017).svg" width="auto" height="20"
                                  alt="youtube logo">&nbsp;youtube</h1>
        <h1 class="socmedia"><img src="../static/images/Spotify_logo_without_text.svg" width="auto" height="20"
                                  alt="spotify logo">&nbsp;spotify</h1>
    </div>
    <div class="sideBox">
        <iframe width="220" height="220" src="https://www.youtube.com/embed/yLNpy62jIFk" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
</div>

<div class="article_cont">
    <div class="article">
        {% for art in articles %}
        <a href="/article">
            {{ art.attributes.Title }}
        </a>
        {%  endfor %}
    </div>
</div>


</body>
</html>