<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- we need this for mobile devices to use the whole screen -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Cikkek{% endblock %} -- Félidő</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" type="image/x-icon" href="../static/images/logokicsi.png">
</head>
<body>
<div class="top_image_cont">
    <a href="/list">
        <img src="../static/images/anyucidheader.png" alt="placeholder" width="100%" height="5%">
        <img class="logo" src="../static/images/FelidoLogo.jpg" alt="logo">
    </a>
</div>

<div class="navbar">
    <ul>
        <li><a href="/">Bejegyzések</a></li>
        <li><a href="/events">Események</a></li>
        <li><a href="/archive">Archívum</a></li>
        <li><a href="/about">Rólunk</a></li>
    </ul>
</div>


<header class="top_header">
    <img src="../static/images/FelidoLogo.jpg" class="logo_mobile">
    <h1>henlo</h1>
    <button class="hamburger">&#9776;</button>
    <button class="cross">&#735;</button>
</header>

<div class="menu">
    <ul>
        <a href="/">
            <li>Bejegyzések</li>
        </a>
        <a href="/events">
            <li>Események</li>
        </a>
        <a href="/archive">
            <li>Archívum</li>
        </a>
        <a href="/about">
            <li>Rólunk</li>
        </a>
    </ul>
</div>

<div class="combined_cont">
    <div class="sidebar">
        <div class="sideBox">
            <a href="https://www.facebook.com/profile.php?id=100086869088548" target="_blank"><h1 class="socmedia"><img
                    src="../static/images/2021_Facebook_icon.svg" width="auto" height="20" alt="facebook logo">&nbsp;facebook
            </h1></a>
            <a href="https://www.instagram.com/felidomusic" target="_blank"><h1 class="socmedia"><img
                    src="../static/images/Instagram_logo_2016.svg" width="auto" height="20" alt="instagram logo">&nbsp;instagram
            </h1></a>
            <a href="https://www.youtube.com/channel/UCWse5lxmUzp29nzuAcHT-Bg" target="_blank"><h1 class="socmedia"><img
                    src="../static/images/YouTube_full-color_icon_(2017).svg" width="auto" height="20"
                    alt="youtube logo">&nbsp;youtube</h1></a>
            <a href="https://open.spotify.com/user/31po7zy2szyqgtmsuirxrj7e3rgu" target="_blank"><h1 class="socmedia">
                <img
                        src="../static/images/Spotify_logo_without_text.svg" width="auto" height="20"
                        alt="spotify logo">&nbsp;spotify</h1></a>
        </div>
        <div class="sideBox">
            <iframe width="200" height="220" src="https://www.youtube.com/embed/yLNpy62jIFk"
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
    </div>

    {% block content %}
        <div class="article_cont">
            {% for art in articles %}
                <div class="article">


                    <p>
                        <a href="/article/{{ art.id }}">
                    <h2>{{ art.attributes.Title }}</h2>
                    <hr class="solid_divider">
                    <img src="{{ art.attributes.Image }}" alt="placeholder" width="100%" height="auto">
                    </a>
                    </p>


                </div>
            {% endfor %}
        </div>
        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="../static/scripts/hamburger.js"></script>

    {% endblock %}
</body>
</html>